In [2]:
import pandas as pd
from pathlib import Path

In [3]:
wait_times_path = Path('../clean_wait_times.csv')
wait_times_df = pd.read_csv(wait_times_path)
wait_times_df.head()

         date           ride_name  sactmin
0  2015-01-01      7_dwarfs_train     54.5
1  2015-01-01     big_thunder_mtn     37.0
2  2015-01-01     haunted_mansion     27.5
3  2015-01-01  it_s_a_small_world     15.0
4  2015-01-01     splash_mountain     11.5

In [5]:
feature_set_path = Path('../clean_feature_set.csv')
feature_set_df = pd.read_csv(feature_set_path)
feature_set_df.head()

,date,day_week,day_year,week_year,month_year,year,prox_to_holiday,wdw_mean_temp,wdw_precip,schools_in_session,florida_schools_in_session
0,2015-01-01,5,0,0,1,2015,0,66.41,0.12,0.00,0.00
1,2015-01-02,6,1,0,1,2015,2,69.36,0.12,0.00,0.00
2,2015-01-03,7,2,0,1,2015,3,75.22,0.07,0.00,0.00
3,2015-01-04,1,3,1,1,2015,4,75.95,0.12,0.67,0.79
4,2015-01-05,2,4,1,1,2015,5,64.60,0.12,0.67,0.79

In [6]:
merged_data = wait_times_df.merge(feature_set_df, how='right', on='date')

In [7]:
merged_data.head()

,date,ride_name,sactmin,day_week,day_year,week_year,month_year,year,prox_to_holiday,wdw_mean_temp,wdw_precip,schools_in_session,florida_schools_in_session
0,2015-01-01,7_dwarfs_train,54.5,5,0,0,1,2015,0,66.41,0.12,0.0,0.0
1,2015-01-01,big_thunder_mtn,37.0,5,0,0,1,2015,0,66.41,0.12,0.0,0.0
2,2015-01-01,haunted_mansion,27.5,5,0,0,1,2015,0,66.41,0.12,0.0,0.0
3,2015-01-01,it_s_a_small_world,15.0,5,0,0,1,2015,0,66.41,0.12,0.0,0.0
4,2015-01-01,splash_mountain,11.5,5,0,0,1,2015,0,66.41,0.12,0.0,0.0

In [8]:
merged_data.corr(method='pearson')

,sactmin,day_week,day_year,week_year,month_year,year,prox_to_holiday,wdw_mean_temp,wdw_precip,schools_in_session,florida_schools_in_session
sactmin,1.000000,0.007300,-0.068398,-0.069782,-0.069770,0.138670,-0.056810,-0.074948,-0.029318,-0.068463,-0.070814
day_week,0.007300,1.000000,-0.010074,-0.028458,-0.010580,-0.001163,0.013281,-0.000486,0.009855,0.036729,0.026041
day_year,-0.068398,-0.010074,1.000000,0.999654,0.996733,0.021640,0.119195,0.256026,0.063588,-0.113431,-0.075776
week_year,-0.069782,-0.028458,0.999654,1.000000,0.996384,0.012107,0.119089,0.256214,0.063568,-0.114030,-0.075953
month_year,-0.069770,-0.010580,0.996733,0.996384,1.000000,0.022323,0.119184,0.259773,0.066193,-0.106497,-0.070504
year,0.138670,-0.001163,0.021640,0.012107,0.022323,1.000000,-0.052749,-0.101659,-0.056330,-0.006518,-0.008062
prox_to_holiday,-0.056810,0.013281,0.119195,0.119089,0.119184,-0.052749,1.000000,0.293649,0.341390,-0.119896,-0.136071
wdw_mean_temp,-0.074948,-0.000486,0.256026,0.256214,0.259773,-0.101659,0.293649,1.000000,0.597997,-0.293198,-0.264422
wdw_precip,-0.029318,0.009855,0.063588,0.063568,0.066193,-0.056330,0.341390,0.597997,1.000000,-0.497436,-0.491789
schools_in_session,-0.068463,0.036729,-0.113431,-0.114030,-0.106497,-0.006518,-0.119896,-0.293198,-0.497436,1.000000,0.948667
florida_schools_in_session,-0.070814,0.026041,-0.075776,-0.075953,-0.070504,-0.008062,-0.136071,-0.264422,-0.491789,0.948667,1.000000